{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>WebRTC: Simple RTCDataChannel sample</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{% static 'css/main.css' %}"
      type="text/css"
      media="all"
    />
    <script src="{% static 'js/connect.js' %}" defer></script>
  </head>

  <body>
    <header>
      {% comment %} <div class="search">
        <img
          class="found"
          src="https://i.postimg.cc/wMp2Gw36/image.png"
          alt="img"
        />
      </div> {% endcomment %}

      <div class="ripple-1"></div>
      <div class="ripple-2"></div>
      <div class="ripple-3"></div>
      <div class="ripple-4"></div>
      <div class="ripple-5"></div>
    </header>
    <b id="browser-code">{{code}}</b>


    <div class="controlbox" id="connectionbox">
      <label for="message"
        >Enter the code to connect:
        <input
          type="text"
          name="message"
          id="message"
          placeholder="code here"
          size="10"
          maxlength="20"
        />
      </label>
      <button id="connectButton" name="connectButton" class="buttonleft">
        Connect
      </button>
    </div>

    <div >
      <form id="fileInfo">
        <input type="file" id="fileInput" name="files"/>
      </form>
      <button disabled id="sendFile">Send</button>
      <button disabled id="abortButton">Abort</button>
    </div>

    <div class="progress">
      <div class="label">Send progress: </div>
      <progress id="sendProgress" max="0" value="0"></progress>
    </div>

    <div class="progress">
      <div class="label">Receive progress: </div>
      <progress id="receiveProgress" max="0" value="0"></progress>

    </div>


    <div id="bitrate"></div>
    <a id="download"></a>
    <span id="status"></span>


    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
  </body>

  <input id="chat" type="text" size="100"><br>
  <input id="chatbutton" type="button" value="Send">
</html>
