{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>WebRTC: Simple RTCDataChannel sample</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{% static 'css/main.css' %}"
      type="text/css"
      media="all"
    />
    <script src="{% static 'js/connect.js' %}" defer></script>
    {% comment %} <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script> {% endcomment %}

  </head>
  <body>
    <h1>FILE TRANSFER</h1>
    <b id="browser-code">{{code}}</b>

    <textarea id="chat-log" cols="100" rows="20"></textarea><br>

    <div class="controlbox">
      <label for="message"
        >Enter the code to connect:
        <input
          type="text"
          name="message"
          id="message"
          placeholder="code here"
          size="10"
          maxlength="20"
        />
      </label>
      <button id="connectButton" name="connectButton" class="buttonleft">
        Connect
      </button>
    </div>

    <div >
      <form id="fileInfo">
        <input type="file" id="fileInput" name="files"/>
      </form>
      <button disabled id="sendFile">Send</button>
      <button disabled id="abortButton">Abort</button>
    </div>

    <button id="sendButton12" name="sendButton12" class="buttonright">
      Send
    </button>
  </body>

  <input id="chat" type="text" size="100"><br>
  <input id="chatbutton" type="button" value="Send">
</html>
