{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Secure file transfer</title>
  <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
  <!-- Bootstrap icons-->

  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{% static 'css/new/styles.css' %}" rel="stylesheet" />

  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
      <a class="navbar-brand fw-bold" href="#page-top">File Share</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
          <li class="nav-item"><a class="nav-link me-lg-3" href="#home">Home</a></li>
          <li class="nav-item"><a class="nav-link me-lg-3" href="#transferfile">Transfer File</a></li>
        </ul>
        <button style="background-color: #2937f0;" class="btn btn-primary rounded-pill px-3 mb-2 mb-lg-0">
          <span class="d-flex align-items-center">
            <a href="{% url 'connection:action' %}" style="background-color: #2937f0;color: white;">Get Started</a>
            <span class="small"></span>
          </span>
        </button>
      </div>
    </div>
  </nav>
  <!-- header-->
  <header class="masthead">
    <div class="container px-5">
      <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
          <!-- Mashead text and app badges-->
          <div class="mb-5 mb-lg-0 text-center text-lg-start">
            <h1 class="display-1 lh-1 mb-3">Secure file transfer with us</h1>
            <p class="lead fw-normal text-muted mb-5">Secure file transfer lets businesses securely share files without
              data loss or data theft. </p>
            <div class="d-flex flex-column flex-lg-row align-items-center">
              <button style="background-color: #2937f0;" type="button" class="btn btn-primary start">
                <a href="{% url 'connection:action' %}" style="background-color: #2937f0;"
                  class="btn btn-primary btn-lg">Get Started</a>
              </button>
            </div>

          </div>
        </div>
        <div class="col-lg-6">
          <img src="{% static 'assets/img/heroimage.png' %}" alt="">
        </div>
      </div>
    </div>
  </header>
  <!-- Quote/testimonial aside-->
  <aside class="text-center bg-gradient-primary-to-secondary">
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-xl-8">
          <div class="h2 fs-1 text-white mb-4">"Simplify how you work, transfer your files promptly"</div>
        </div>
      </div>
    </div>
  </aside>
  <!-- App features section-->

  <section class="bg-white">
    <div class="container px-5">
      <div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
        <div class="col-12 col-lg-5">
          <h2 class="display-4 lh-1 mb-4">Enter a new age of file transfer</h2>
          <p class="lead fw-normal text-muted mb-5 mb-lg-0">Send and receive your file with your desired person. This is
            safe mode of file transfer. No traces of the file will be left behind.</p>
        </div>
        <div class="col-sm-8 col-md-6">
          <div class="px-5 px-sm-0"><img class="img-fluid class=" rounded-50"
              src="{% static 'assets/img/transfer.jpg' %}" alt="..." /></div>
        </div>
      </div>
    </div>
  </section>

  <div class="section featured-content pb-0 description">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="section-header text-center">
            <h2 class="h2">
              Our benefits will change the way you share documents.
            </h2>
            <p>Share with confidence!</p>
          </div>
        </div>
      </div>
      <div class="row list-items">
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
          <img class="lazyload" data-src="{%  static 'images/reliable.png' %}" src="{%  static 'images/reliable.png' %}"
            alt="Reliability" title="Reliability" />
          <h3 class="h4">Reliability</h3>
          <p>
            Share files directly from one browser to another without going through an intermediary server.
          </p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
          <img class="lazyload" data-src="{%  static 'images/truck.png' %}" src="{%  static 'images/truck.png' %}"
            alt="Fast Delivery" title="Fast Delivery" />
          <h3 class="h4">Fast Delivery</h3>
          <p>
            Realtime sharing of files.
          </p>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center">
          <img class="lazyload" data-src="{%  static 'images/lock.png' %}" src="{%  static 'images/lock.png' %}"
            alt="Security" title="Security" />
          <h3 class="h4">Security</h3>
          <p>
            Secure Real Time Protocol (SRTP ) encryption and other security standards.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer-->
  <footer class="bg-black text-center py-5">
    <div class="container px-5">
      <div class="text-white-50 small">
        <div class="mb-2">&copy; Your Website 2022. All Rights Reserved.</div>
        <a href="#!">Privacy</a>
        <span class="mx-1">&middot;</span>
        <a href="#!">Terms</a>
      </div>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="{% static 'js/scripts.js' %}"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>

</html>
