{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Secure file transfer</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- Bootstrap icons-->
        <link href="{% static 'css/new/styles.css'%}" rel="stylesheet" />
        <link href="{% static 'css/new/main.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
            <div class="container px-5">
                <a class="navbar-brand fw-bold" href="{% url 'connection:dashboard' %}">File Share</a>
            </div>
        </nav>
        <!-- header-->
        <header>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <h1> Share code to receiver</h1>
                </div>
            </div>

        <!-- Quote/testimonial aside-->
        <aside class="text-center bg-gradient-primary-to-secondary">
            <div class="container px-5 ">
                <div class="row gx-5 justify-content-center align-items-center">
                    <div class="col-xl-8">
                        <h3 class="text-white"> Share code with receiver</h3>
                        <div class="input-group mb-3 ">
                            <input readonly type="text" id="sharecode" class="form-control" value="{{code}}">
                            <button class="input-group-append btn btn-primary" onclick="copy()" data-toggle="popover" title="Copied" >Copy</button>
                    </div>
                    </div>
                </div>
            </div>
        </aside>
         </header>
        <!-- App features section-->

        <section class="bg-light">
            <div class="container px-5">
                <div class="row gx-5">
                    <div class="row">
                        <div class="col"></div>
                        <div onclick="location.href='{% url 'connection:file_upload' %}?role=sender&code={{code}}';" style="cursor: pointer;" class="col">
                            <div class="card">
                                <img class="" class="rounded-50" src="{% static 'assets/img/send.png' %}" alt="..." />
                                <h3 class="lh-1 mt-4 mb-4 text-muted">Sender</h3>
                                <p class="lead text-muted mb-5 mb-lg-0">Click here and share the code to send file.</p>
                            </div>
                        </div>
                        <div onclick="location.href='{% url 'connection:file_upload' %}?role=receiver';" style="cursor: pointer;" class="col">
                            <div class="card">
                                <img class="" class="rounded-50" src="{% static 'assets/img/receive.png' %}" alt="..." />
                                <h3 class="lh-1 mt-4 mb-4 text-muted">Receiver</h3>
                                <p class="lead text-muted mb-5 mb-lg-0">Click here and enter the code to connect to receive file.</p>
                            </div>
                        </div>
                        <div class="col"></div>
                      </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="bg-black text-center py-5">
            <div class="container px-5">
                <div class="text-white-50 small">
                    <div class="mb-2">&copy; FileShare 2022. All Rights Reserved.</div>
                    <a href="#!">Privacy</a>
                    <span class="mx-1">&middot;</span>
                    <a href="#!">Terms</a>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script>
            function copy() {
                var copyText = document.getElementById("sharecode");
                copyText.select();
                copyText.setSelectionRange(0, 99999); /* For mobile devices */
                navigator.clipboard.writeText(copyText.value);
              }
              $(function () {
                $('[data-toggle="popover"]').popover()
              });
        </script>
    </body>
</html>
